################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Biblioteca digital/FileContentIndex/0ef30972-bcd6-4ec6-970f-fd9cf19f64f7.vsidx
